<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!-- 日志统一路径为/data/logs/vwt/,dubbo服务必须放至在soa目录下 -->
	<property name="log_path" value="/logs/winhands/" />
	<property name="file_name" value="ncjc" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_path}/${file_name}/${file_name}-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="RollingFile" />
	</root>
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.alibaba.dubbo" level="ERROR" /> 
	<logger name="org.apache.activemq" level="ERROR" /> 
</configuration>